.checkout{
    display: flex;
    padding:20px;
    background-color: white;
    height: max-content;
    /* justify-content: space-between; */
}
.checkout__ad{
    /* height: 110px; */
    width: 98%;
    margin-bottom:10px;
}
.checkout__title{
     margin-right: 10px;
     padding:10px;
     border-bottom:1px solid lightgray;
}
@media (max-width:750px){
    .checkout__ad{
         display: block; 
    }
 .checkout{
     flex-direction: column;
     zoom: 0.7;
 }
 .checkout__right{
     zoom: 0.7;
    padding-left: 150px;
    padding-top: 10px;
    }   
.productOnCheckout{
    zoom: 0.7;
}
}
